@import "tailwindcss";

/* Esto asegura que el fondo negro ocupe toda la pantalla sin bordes blancos */
body {
  margin: 0;
  padding: 0;
  background-color: #09090b; /* Color zinc-950 */
}

/* Eliminamos las restricciones de ancho que tenías antes */
#root {
  width: 100%;
  margin: 0;
  text-align: left; /* Para que el dashboard no se centre como un documento */
}